<link rel="stylesheet" href="footer.css">

<footer class="main-footer">
        <div class="footer-grid">
            <div class="footer-brand">
                <h3>JOVIAL<span>BEES</span></h3>
                <p>Advanced Plastic Solutions</p>
            </div>
            <div class="footer-info">
                <p><i class="fa-solid fa-phone"></i> +91 97234 43251</p>
                <p><i class="fa-solid fa-location-dot"></i> Gujarat, India</p>
            </div>
        </div>
    </footer>