<link rel="stylesheet" href="header.css">

<header class="simple-header">
        <div class="header-content">
            <h1 class="main-title">JOVIAL<span>BEES</span></h1>
            <p class="sub-title">B2B INDUSTRIAL PORTAL</p>
            <div class="precision-box">
                <h2 class="precision-title">Direct Factory Supply & Contract Manufacturing</h2>
                <p class="precision-text">Scaling your production with <strong>standardized quality</strong> and <strong>bulk logistics</strong> support.</p>
            </div>
        </div>
</header>
    