<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    

<nav class="footer-nav">
        <a href="#" class="nav-item">
            <i data-lucide="home"></i>
            <span>Home</span>
        </a>
        <a href="#" class="nav-item">
            <i data-lucide="shopping-bag"></i>
            <span>Shop</span>
        </a>
        <a href="#" class="nav-item">
            <i data-lucide="search"></i>
            <span>Search</span>
        </a>
        <a href="#" class="nav-item">
            <i data-lucide="shopping-cart"></i>
            <span>Cart</span>
        </a>
        <a href="#" class="nav-item">
            <i data-lucide="user"></i>
            <span>About</span>
        </a>
        
    </nav>
    <script>
        // Initialize the icons
        lucide.createIcons();
    </script>
</body>
</html>